
body {
	font-family: 'Roboto', sans-serif;
	color: #444;
}

div#site {
	width: 420px;
	max-width: 100%;
	margin: 0px auto;
	box-shadow: 0 0 3px #555;
}

header, section, footer {
	position: relative;
	padding: 6px;
}

header {
	text-align: center;
	background-color: #00508F;
	padding: 14px 6px
}
header span {
	font-size: 1.4em;
	font-weight: bold;
	color: #FFF;
}

section {
	border-bottom: 1px dashed #00508F;
}

footer {
	font-size: 0.6em;
}

div#display {
	width: 100px;
	color: red;
	font-size: 1.8em;
	text-align: center;
	border-radius: 34px;
	background-color: black;
	margin: 4px auto;
}

h2 {
	margin: 4px 0 10px;
	font-size: 1.1em;
}

p {
	padding: 3px 0;
	margin: 0;
}

table {
	width: 100%;
}
table.fixed {
	table-layout: fixed;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.small {
	font-size: 0.6em;
}
.smaller {
	font-size: smaller;
}
.larger {
	font-size: larger;
}

.button, .button_red {
	text-decoration: none;
	border: none;
	color: white;
	background-color: #00508F;
	padding: 6px 24px;
	font-size: 16px;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 34px;
	box-shadow: 1px 1px 2px #444;
	outline: none;
	margin: 4px auto;
	display: inline-block;
}
.button_red {
	background-color: #bf0000;
}
.button:hover, .button_red:hover {
	background-color: #0076d1;
	box-shadow: 1px 1px 3px #444;
}
.button_red:hover {
	background-color: #ec0000;
}
.button:disabled, .button_red:disabled {
	background-color: green;
	box-shadow: none;
	cursor: default;
}

div.visualapproach {
	position: absolute;
	right: 0px;
	top: 10px;
	width: 128px;
	height: 128px;
	opacity: 0.4;
	background-image: url('./visualapproach.png');
	background-repeat: no-repeat;
}

/* input range slider */
input[type="range"] {
		-webkit-appearance: none;
		width: 100%;
	height: 34px;
		background: #ccc;
	border-radius: 34px;
	padding: 0 4px;
	margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background: #00508F;
	cursor: ew-resize;
	border: 2px solid white;
	transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background: #00508F;
	cursor: ew-resize;
	border: 2px solid white;
	transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background: #00508F;
	cursor: ew-resize;
	border: 2px solid white;
	transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: #00508F;
}

input[type="range"]::-moz-range-thumb:hover {
	background: #00508F;
}

input[type="range"]::-ms-thumb:hover {
	background: #00508F;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: #00508F;
	border: 2px solid white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #00508F;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #ccc;
}

input:checked + .heateron:before {
	background-color: red;
}

input:checked + .heateroff:before {
	background-color: green;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* navigation */
a.topnavicon {
	float: right;
	display: block;
	width: 26px;
	height: 26px;
	background-image: url('./menu.png');
	background-repeat: no-repeat;
	background-size: 26px 26px;
}

.topnav {
	overflow: hidden;
	background-color: #ccc;
}

.topnav a {
	float: left;
	display: none;
	color: #444;
	text-align: center;
	padding: 6px 16px;
	text-decoration: none;
	font-size: 1.1em;
}

.topnav a.bgred {
	color: white;
	background-color: #bf0000;
}

.topnav a:hover {
	color: #444;
	background-color: #ddd;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

.topnav.responsive {position: relative;}

.topnav.responsive a {
	float: none;
	display: block;
	text-align: center;
}

/* tooltips */
.tooltip {
	position: relative;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #00508F;
	border-radius: 34%;
	-webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.tooltip:before {
	content: attr(data-text);
	position: absolute;
	top: 30%;
	transform: translateY(-30%);
	left: 100%;
	margin-left: 15px;
	width: 200px;
	color: #444;
	background: #ccc;
	text-align: left;
	padding: 6px;
	border-radius: 14px;
	border: 2px solid #00508F;
	z-index: 1;
	/* display: none; */
	visibility: hidden;
	/* opacity: 0;
	transition: .3s opacity; */
}

.tooltip.left:before {
	left: initial;
	margin: initial;
	right: 100%;
	margin-right: 15px;
}

.tooltip:after {
	content: "";
	position: absolute;
	top: 30%;
	transform: translateY(-30%);
	left: 100%;
	margin-left: -5px;
	border: 10px solid #00508F;
	border-color: transparent #00508F transparent transparent;
	/* display: none; */
	visibility: hidden;
	/* opacity: 0;
	transition: .3s opacity; */
}

.tooltip.left:after {
	left: initial;
	margin: initial;
	right: 100%;
	margin-right: -5px;
	border-color: transparent transparent transparent #00508F;
}

.tooltip:hover:before, .tooltip:hover:after {
	/* display: block; */
	visibility: visible;
	/* opacity: 1; */
}


/**********************
 * temperture selector
\*/

table#tableSelector {
	display: none;
}

.selector {
	position: relative;
	width: 100px;
	background-color: #ccc;
	border-radius: 6px;
	margin: auto;
}

.selector .selectorbutton {
	width: 100%;
	height: 30px;
	color: #fff;
	font-size: 20px;
	background-color: #00508F;
	border: none;
	cursor: pointer;
}

.selector .selectorbutton:hover {
	background-color: #0076d1;
	box-shadow: 0 0 3px #444;
}

.selector .selectorbutton.selectortop {
	border-radius: 6px 6px 0 0;
}

.selector .selectorbutton.selectorbottom {
	border-radius: 0 0 6px 6px;
}

.selector .selectorvalue {
	width: 100%;
	height: 50px;
	border: none;
	color: #00508F;
	font-size: 34px;
	text-align: center;
	background-color: #ccc;
	padding: 0;
}

.selector .degree {
	position: absolute;
	top: 32px;
	right: 20px;
	font-size: 24px;
	color: #00508F;
}
