{% extends "../layout.html" %}

{% block top_navigation %}
{% run use_component("topNavigation", "config") %}
{% endblock %}

{% block content %}
<section>
    <table>
        <tr>
            <td><label for="price">Price per kWh:</label></td>
            <td><input type="text" id="price" value="1.50" maxlength="4" size="4"></td>
        </tr>
        <tr>
            <td><label for="clinterval">Chlorine add (Days):</label></td>
            <td><input type="text" id="clinterval" value="7" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="finterval">Filter change (Days):</label></td>
            <td><input type="text" id="freplaceinterval" value="60" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="finterval">Filter clean (Days):</label></td>
            <td><input type="text" id="fcleaninterval" value="20" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="finterval">Filter rinse (Days):</label></td>
            <td><input type="text" id="frinseinterval" value="7" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="audio">Audio:</label></td>
            <td><input type="checkbox" id="audio"></td>
        </tr>
        <tr>
            <td><label for="notification">Notification:</label></td>
            <td><input type="checkbox" id="notification"></td>
        </tr>
        <tr>
            <td><label for="notificationtime">Notification time (s):</label></td>
            <td><input type="text" id="notificationtime" value="32" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="restore">Restore last states on startup:</label></td>
            <td><input type="checkbox" id="restore"></td>
        </tr>
        <tr>
            <td><label for="calibration">Calibrated:</label><span
                    data-text="If checked, the virtual temperature is calibrated. Redo calibration by unchecking and hitting SAVE button."
                    class="tooltip">?</span></td>
            <td><input type="checkbox" id="calibration" onclick="toggleCalibration()"><span
                    data-text="Calibrate by keeping heat OFF and pump ON until temperature has dropped a couple of degrees. Do not toggle jets, bubbles etc meanwhile. Water temp must differ several degrees from ambient from start."
                    class="tooltip left">?</span></td>
            <td><a href="calib.html">manual cal.</a></td>
        </tr>
    </table>
</section>
<section>
    <table>Enabled display buttons.<label for="toggle_all"> All:</label><input type="checkbox" id="toggle_all"
            onclick="toggleAll()">
        <tr>
            <td><label for="lock_btn">Lock</label><input type="checkbox" id="lock_btn"></td>
            <td><label for="timer_btn">Timer</label><input type="checkbox" id="timer_btn"></td>
            <td><label for="bubbles_btn">Air</label><input type="checkbox" id="bubbles_btn"></td>
            <td><label for="unit_btn">Unit</label><input type="checkbox" id="unit_btn"></td>
            <td><label for="heat_btn">Heat</label><input type="checkbox" id="heat_btn"></td>
        </tr>
        <tr>
            <td><label for="pump_btn">Pump</label><input type="checkbox" id="pump_btn"></td>
            <td><label for="down_btn">Down</label><input type="checkbox" id="down_btn"></td>
            <td><label for="up_btn">Up</label><input type="checkbox" id="up_btn"></td>
            <td><label for="power_btn">Pwr</label><input type="checkbox" id="power_btn"></td>
            <td><label for="hydrojets_btn">Jets</label><input type="checkbox" id="hydrojets_btn"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="2" class="center"><button id="save" class="button"
                    onclick="buttonConfirm(this);saveConfig()">save</button></td>
        </tr>
    </table>
</section>

<section>
    <table>
        <tr>Allowed values in "()"
            <td><label for="commands">Command:</label></td>
            <td>
                <select name="commands" id="commands">
                    <option value="0">Set target temp (20-40/68-104)</option>
                    <option value="1">Set unit (0/1)</option>
                    <option value="2">Set air bubbles (0/1)</option>
                    <option value="3">Set heater (0/1)</option>
                    <option value="4">Set filter pump (0/1)</option>
                    <option value="5">Reset queue (-)</option>
                    <option value="6">Reboot ESP</option>
                    <option value="7">Internal command (get target) (-)</option>
                    <option value="8">Reset times (-)</option>
                    <option value="9">Reset Cl timer (-)</option>
                    <option value="10">Reset filter change timer (-)</option>
                    <option value="11">Set hydrojets (0/1)</option>
                    <option value="12">Set display brightness (0-8)</option>
                    <option value="13">Set beep (0/1 or 2+text=filename)</option>
                    <option value="14">Set ambient temp F (any integer)</option>
                    <option value="15">Set ambient temp C (any integer)</option>
                    <option value="16">Reset daily meter (any integer)</option>
                    <option value="17">Take control (0/1)</option>
                    <option value="18">Set full power (0/1)</option>
                    <option value="19">Print (text)</option>
                    <option value="20">Set ready time (-)</option>
                    <option value="21">Set R (internal use)</option>
                    <option value="22">Reset filter rinse timer (-)</option>
                    <option value="23">Reset filter clean timer (-)</option>
                    <option value="24">Set power on/off (0/1)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="val">Value:</label></td>
            <td><input type="text" id="val" value="1" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="xtime">Execute time:</label><br /></td>
            <td><input type="datetime-local" id="xtime" name="xtime" onchange="totimestamp()" step="1"></td>
        </tr>
        <tr>
            <td><label for="interval">Repeat interval</label></td>
            <td><input type="text" id="interval" value="0" maxlength="8" size="8"> seconds</td>
        </tr>
        <tr>
            <td colspan="2">
                <p>(0=once, 1h=3600, 1d=86400, 1w=604800)</p>
            </td>
        </tr>
        <tr>
            <td><label for="txt">Text</label></td>
            <td><input type="text" id="txt" value="" maxlength="24" size="16"> Text</td>
        </tr>
    </table>
</section>

<section style="text-align: left">
    <h2>Command queue</h2>
    <table id="cmdq"></table>
    <table>
        <tr>
            <td colspan="2" class="center"><button id="addcmd" class="button"
                    onclick="buttonConfirm(this);addCommand()">Add new</button></td>
            <td colspan="2" class="center"><button id="resetq" class="button_red"
                    onclick="buttonConfirm(this);resetCommandQueue()">Clear queue</button></td>
        </tr>
        <tr>
            <td colspan="2" class="center"><button id="saveq" class="button" onclick="savetofile()">Save to
                    file</button></td>
            <td colspan="2" class="center"><button id="loadq" class="button"
                    onclick="buttonConfirm(this);loadfromfile()">Load from file</button></td>
        </tr>
    </table>
</section>
{% endblock %}

{% block footer %}
<p class="center" id="lastboot">Last boot: loading...</p>
{% endblock %}

{% block embed_scripts %}
{% run embed_scripts('config') %}
{% endblock %}