{% extends "../layout.html" %}

{% block top_navigation %}
{% run use_component("topNavigation", "hwtestinfo") %}
{% endblock %}

{% block content %}
<section>
    <p>Prepare to connect the cables to together, but don't do it yet.</p>
    <img src="hwtest2.jpg" width="300">
    <br>
    <p>Feed +5V and GND to the PCB (red and black wires in the picture). If your board bypasses the 5V from USB to Vin
        pin you can use USB instead. Don't use both methods!</p>
    <img src="hwtest1.jpg" width="300">
    <br><br>After clicking on the link below you will get the instruction to connect the cables.<br>
    <p></p><a href="./hwtest/">Make the test</a></p>

</section>
{% endblock %}