{% extends "../layout.html" %}

{% block top_navigation %}
{% run use_component("topNavigation", "index") %}
{% endblock %}

{% block content %}
<section id="sectionDisplay">
    <table>
        <tr>
            <td class="center">
                <div id="display">[DSP]</div>
            </td>
        </tr>
    </table>
</section>

<section id="sectionTemperature">
    <div class="visualapproach"></div>
    <h2>Temperature</h2>
    <table class="fixed">
        <tr>
            <td>Actual:</td>
            <td><span id="atlabel">n/a</span></td>
        </tr>
        <tr>
            <td>Virtual: <span
                    data-text="ESP attempts to keep track of water temperature even when pump is stopped and the temperature drops in the pump while the large body of water cools slower. Uses ambient temperature. Must be calibrated before working. See SPA Config page."
                    class="tooltip">?</span></td>
            <td><span id="vtlabel">n/a</span></td>
        </tr>
        <tr>
            <td>Target:</td>
            <td><span id="ttlabel">n/a</span></td>
        </tr>
    </table>
</section>

<section id="sectionControl">
    <h2>Control</h2>
    <table id="tableSlider">
        <tr>
            <td style="width:40%;">Temperature</td>
            <td style="width:50%"><input type="range" id="temp" min="20" max="40" step="1" value="20"
                    onmouseup="sendCommand('setTarget')" ontouchend="sendCommand('setTarget')"></td>
            <td style="width:10%;text-align:right" id="sliderTempVal">n/a</td>
        </tr>
        <tr>
            <td>Ambient Temp.</td>
            <td><input type="range" id="amb" min="-40" max="60" step="1" value="20"
                    onmouseup="sendCommand('setAmbient')" ontouchend="sendCommand('setAmbient')"></td>
            <td style="text-align:right" id="sliderAmbVal">n/a</td>
        </tr>
        <tr id="rowBrightness">
            <td>Brightness <span
                    data-text="Remember: When set to '0' the display and all buttons on the pump are completely dimmed out (off), but will light up for 5s when pressing a button."
                    class="tooltip">?</span></td>
            <td><input type="range" id="brt" min="0" max="8" step="1" value="7" onmouseup="sendCommand('setBrightness')"
                    ontouchend="sendCommand('setBrightness')"></td>
            <td style="text-align:right" id="sliderBrtVal">n/a</td>
        </tr>
    </table>

    <table id="tableSelector" class="fixed">
        <tr>
            <td class="center">Temperature</td>
            <td class="center">Ambient Temperature</td>
            <td id="brightnessHeader" class="center">Brightness <span
                    data-text="Remember: When set to '0' the display and all buttons on the pump are completely dimmed out (off), but will light up for 5s when pressing a button."
                    class="tooltip left">?</span></td>
        </tr>
        <tr>
            <td class="center">
                <div class="selector">
                    <button onclick="increaseNumber('selectorTemp');sendCommand('setTargetSelector')"
                        class="selectorbutton selectortop">ᐱ</button>
                    <input style="display:none" type="number" id="selectorTemp" min="20" max="40" step="1" value="20"
                        type="text" class="selectorvalue" onchange="sendCommand('setTargetSelector')">
                    <div class="wrapper">
                        <span class="numDisplay"></span>
                    </div>
                    <button onclick="decreaseNumber('selectorTemp');sendCommand('setTargetSelector')"
                        class="selectorbutton selectorbottom">ᐯ</button>
                </div>
            </td>
            <td class="center">
                <div class="selector">
                    <button onclick="increaseNumber('selectorAmb');sendCommand('setAmbientSelector')"
                        class="selectorbutton selectortop">ᐱ</button>
                    <input style="display:none" type="number" id="selectorAmb" min="-40" max="60" step="1" value="20"
                        type="text" class="selectorvalue" onchange="sendCommand('setAmbientSelector')">
                    <div class="wrapper">
                        <span class="numDisplay"></span>
                    </div>
                    <button onclick="decreaseNumber('selectorAmb');sendCommand('setAmbientSelector')"
                        class="selectorbutton selectorbottom">ᐯ</button>
                </div>
            </td>
            <td class="center">
                <div class="selector" id="divBrightness">
                    <button onclick="increaseNumber('selectorBrt');sendCommand('setBrightnessSelector')"
                        class="selectorbutton selectortop">ᐱ</button>
                    <input type="number" id="selectorBrt" min="0" max="8" step="1" value="7" type="text"
                        class="selectorvalue" onchange="sendCommand('setBrightnessSelector')">
                    <button onclick="decreaseNumber('selectorBrt');sendCommand('setBrightnessSelector')"
                        class="selectorbutton selectorbottom">ᐯ</button>
                </div>
            </td>
        </tr>
    </table>
</section>

<section id="sectionButtons">
    <h2>Buttons</h2>
    <table class="fixed">
        <tr>
            <td class="right">Bubbles</td>
            <td>
                <label class="switch">
                    <input type="checkbox" id="AIR" onchange="sendCommand('toggleBubbles')">
                    <span class="slider round"></span>
                </label>
            </td>
            <td class="right">Heater</td>
            <td>
                <label class="switch">
                    <input type="checkbox" id="HTR" onchange="sendCommand('toggleHeater')">
                    <span id="htrspan" class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td class="right">Pump</td>
            <td>
                <label class="switch">
                    <input type="checkbox" id="FLT" onchange="sendCommand('togglePump')">
                    <span class="slider round"></span>
                </label>
            </td>
            <td class="right">Unit (F/C)</td>
            <td>
                <label class="switch">
                    <input type="checkbox" id="UNT" onchange="sendCommand('toggleUnit')">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td id="jets" class="right">Hydrojets</td>
            <td id="jetsswitch">
                <label class="switch">
                    <input type="checkbox" id="HJT" onchange="sendCommand('toggleHydroJets')">
                    <span class="slider round"></span>
                </label>
            </td>
            <td id="god" class="right">Take control</td>
            <td id="godswitch">
                <label class="switch">
                    <input type="checkbox" id="GOD" onchange="sendCommand('toggleGodmode')">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </table>
</section>

<section id="sectionTimer">
    <h2>Timer</h2>
    <table>
        <tr>
            <td>Last chlorine add was <span id="cltimer">n/a</span> ago.</td>
            <td><button id="cltimerbtn" class="button"
                    onclick="buttonConfirm(this);sendCommand('resetTimerChlorine')">reset</button></td>
        </tr>
        <tr>
            <td>Last filter change was <span id="freplacetimer">n/a</span> ago.</td>
            <td><button id="freplacetimerbtn" class="button"
                    onclick="buttonConfirm(this);sendCommand('resetTimerReplaceFilter')">reset</button></td>
        </tr>
        <tr>
            <td>Last filter clean was <span id="fcleantimer">n/a</span> ago.</td>
            <td><button id="fcleantimerbtn" class="button"
                    onclick="buttonConfirm(this);sendCommand('resetTimerCleanFilter')">reset</button></td>
        </tr>
        <tr>
            <td>Last filter rinse was <span id="frinsetimer">n/a</span> ago.</td>
            <td><button id="frinsetimerbtn" class="button"
                    onclick="buttonConfirm(this);sendCommand('resetTimerRinseFilter')">reset</button></td>
        </tr>
    </table>
</section>

<section id="sectionTotals">
    <h2>Totals</h2>
    <table class="fixed">
        <tr>
            <td>Time: <span data-text="ESP sends UTC. Browser converts to Local." class="tooltip">?</span></td>
            <td><span id="time">n/a</span></td>
        </tr>
        <tr>
            <td>Ready in: <span
                    data-text="New way of estimating time to ready. Works best if given actual ambient temperature from for example HA."
                    class="tooltip">?</span></td>
            <td><span id="t2r">n/a</span></td>
        </tr>
        <tr>
            <td>Uptime: <span
                    data-text="Total running time of ESP since counter was reset. Rebooting will continue counting."
                    class="tooltip">?</span></td>
            <td><span id="uptime">n/a</span></td>
        </tr>
        <tr>
            <td>Pump:</td>
            <td><span id="filtertime">n/a</span></td>
        </tr>
        <tr>
            <td>Heating:</td>
            <td><span id="heatingtime">n/a</span></td>
        </tr>
        <tr>
            <td>Air:</td>
            <td><span id="airtime">n/a</span></td>
        </tr>
        <tr id="jetstotals">
            <td>Hydrojets:</td>
            <td><span id="jettime">n/a</span></td>
        </tr>
        <tr>
            <td>Estimated cost:</td>
            <td><span id="cost">n/a</span></td>
        </tr>
        <tr>
            <td colspan="2" class="center"><button id="reset" class="button" onclick="resetTotals()">reset</button></td>
        </tr>
    </table>
</section>
{% endblock %}

{% block footer %}
<p class="center">
    <span id="mqtt">MQTT: loading status...</span><br />
    <span id="fw">Firmware: loading status...</span><br />
    <span id="model">Model: loading status...</span><br />
    <span id="rssi">RSSI: loading status...</span>
</p>
{% endblock %}