{% extends "../layout.html" %}

{% block header_headline_title %}
<span data-i18n="menu_mqttconfig">MQTT Config</span>
{% endblock %}

{% block top_navigation %}
{% run use_component("topNavigation", "mqtt") %}
{% endblock %}

{% block content %}

<section>
	<table>
		<tr>
			<td><label for="enableMqtt" data-i18n="label_enable_mqtt">Enable MQTT:</label></td>
			<td><input type="checkbox" id="enableMqtt"></td>
		</tr>
		<tr>
			<td><label for="mqttHost" data-i18n="label_mqtt_host">MQTT host addr:</label></td>
			<td>
				<input type="text" id="mqttHost" maxlength="63" value="IP or FQDN of the broker">
			</td>
		</tr>
		<tr>
			<td><label for="mqttPort" data-i18n="label_port">Port:</label></td>
			<td><input type="text" id="mqttPort" maxlength="31"></td>
		</tr>
		<tr>
			<td><label for="mqttUsername" data-i18n="label_username">Username:</label></td>
			<td><input type="text" id="mqttUsername" maxlength="31"></td>
		</tr>
		<tr>
			<td><label for="mqttPassword" data-i18n="label_password">Password:</label></td>
			<td><input type="text" id="mqttPassword" maxlength="31"></td>
		</tr>
		<tr>
			<td><label for="mqttClientId" data-i18n="label_client_id">Client ID:</label></td>
			<td><input type="text" id="mqttClientId" maxlength="31"></td>
		</tr>
		<tr>
			<td><label for="mqttBaseTopic" data-i18n="label_base_topic">Base Topic:</label></td>
			<td><input type="text" id="mqttBaseTopic" maxlength="31"></td>
		</tr>
		<tr>
			<td><label for="mqttTelemetryInterval" data-i18n="label_telemetry_interval">Telemetry Interval
					(s):</label></td>
			<td><input type="text" id="mqttTelemetryInterval"></td>
		</tr>
	</table>
</section>
{% endblock %}

{% block footer %}
<button id="save" class="button" onclick="saveMqttConfig()" data-i18n="bouton_save">save</button>

{% endblock %}

{% block embed_scripts %}
<script>
	loadMqttConfig()

	function loadMqttConfig() {
		var req = new XMLHttpRequest()
		req.open('POST', '/getmqtt/')
		req.send()
		req.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var json = JSON.parse(req.responseText)
				document.getElementById('enableMqtt').checked = json.enableMqtt
				document.getElementById('mqttHost').value = json.mqttHost
				document.getElementById('mqttPort').value = json.mqttPort
				document.getElementById('mqttUsername').value = json.mqttUsername
				document.getElementById('mqttPassword').value = json.mqttPassword
				document.getElementById('mqttClientId').value = json.mqttClientId
				document.getElementById('mqttBaseTopic').value = json.mqttBaseTopic
				document.getElementById('mqttTelemetryInterval').value = json.mqttTelemetryInterval
			}
		}
	}

	function saveMqttConfig() {
		if (!validatePassword('mqttPassword')) return

		buttonConfirm(document.getElementById('save'))

		var req = new XMLHttpRequest()
		req.open('POST', '/setmqtt/')
		var json = {
			'enableMqtt': (document.getElementById('enableMqtt').checked),
			'mqttHost': (document.getElementById('mqttHost').value),
			'mqttPort': parseInt(document.getElementById('mqttPort').value),
			'mqttUsername': (document.getElementById('mqttUsername').value),
			'mqttPassword': (document.getElementById('mqttPassword').value),
			'mqttClientId': (document.getElementById('mqttClientId').value),
			'mqttBaseTopic': (document.getElementById('mqttBaseTopic').value),
			'mqttTelemetryInterval': (document.getElementById('mqttTelemetryInterval').value)
		}
		req.send(JSON.stringify(json))
		document.getElementById('mqttPassword').value = '<enter password>'
	}
</script>
{% endblock %}