<div class="topnav" id="topnav" data-active="{{ _argument_0 }}">
    <!-- <a data-menu="index" href="/">Home</a> -->
    <menu class="submenu">
        <label>Config</label>
        <a data-menu="hwconfig" href="/hwconfig.html">Hardware</a>
        <a data-menu="config" href="/config.html">SPA</a>
        <a data-menu="webconfig" href="/webconfig.html">Web</a>
        <a data-menu="wifi" href="/wifi.html">Network</a>
        <a data-menu="mqtt" href="/mqtt.html">MQTT</a>
    </menu>
    <menu class="submenu">
        <label>Files</label>
        <a data-menu="dir" href="/dir/">Directory List</a>
        <a data-menu="upload" href="/upload.html">File Uploader</a>
        <a data-menu="remove" href="/remove.html">File Remover</a>
    </menu>
    <menu class="submenu">
        <label>Maintenance</label>
        <a data-menu="chkupdatefw" href="/chkupdatefw.html">Check firmware update</a>
        <a data-menu="restart" href="/restart/">Restart ESP</a>
        <!-- <a href="javascript:void(0);" class="bgred" onclick="sendCommand('restartEsp')">Restart ESP</a> -->
    </menu>
</div>