<div class="topnav" id="topnav" data-active="{{ _argument_0 }}">
    <!-- TODO: add all data-menu -->
    <a href="./" data-i18n="menu_home">Home</a>
    <a href="hwconfig.html" data-menu="hwconfig" data-i18n="menu_hwconfig">Hardware Config</a>
    <a href="config.html" data-i18n="menu_spaconfig">SPA Config</a>
    <a href="webconfig.html" data-i18n="menu_webconfig">Web Config</a>
    <a href="wifi.html" data-i18n="menu_networkconfig">Network Config</a>
    <a href="mqtt.html" data-i18n="menu_mqttconfig">MQTT Config</a>
    <a href="/dir/" data-i18n="menu_directory">Directory</a>
    <a href="upload.html" data-i18n="menu_upload">File Uploader</a>
    <a href="remove.html" class="active" data-i18n="menu_remove">File Remover</a>
    <a href="chkupdatefw.html" data-i18n="menu_chkupdatefw">Check firmware update</a>
    <a href="/restart/" data-i18n="menu_restart">Restart ESP</a>
</div>