center {
    width: 420px;
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    background-color: #00508F;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #555555;
    position: relative;
}

h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}
h4 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

center>div {
    padding: 14px 10px 10px 10px;
    box-shadow: 1px 1px 5px #555555;
}

table {
    margin: 0px 24px 0px 12px;
}

td {
    color: #555;
    width: 100%;
}

tr {
    width: 100%;
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #00878F;
    padding: 6px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #555;
    outline: none;
    margin: 12px auto 0px auto;
    display: inline-block;
}

.button:hover {
    box-shadow: 1px 1px 3px #444;
}

input[type=range] {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    margin: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0px;
    height: 20px;
    width: 15px;
    margin-top: -6px;
    border-radius: 5px;
}

input.disabled[type=range]::-webkit-slider-thumb {
    background: #999;
}

input.enabled[type=range]::-webkit-slider-thumb {
    background: #FF878F;
    cursor: pointer;
    box-shadow: 1px 1px 2px #777, 0px 0px 1px #777;
}

input[type=range]::-webkit-slider-runnable-track {
    width: inherit;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
}

input.enabled[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
}


/*             SWITCH styles                 */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00FF00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}